/* General body */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: #eef2f7;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #003366;
  color: #fff;
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.sidebar a:hover {
  background: #005bb5;
}


/* Main content */
.main {
  margin-left: 240px;
  padding: 30px;
}

/* Header */
.header {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Form container */
.form-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 30px
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


/* Inputs */
input, select, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background: #0041d2;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #005bb5;
}
